body {
  background-color: #5b64b4;
}

#root{
  width: 100%;
}

.app-container {
  padding: 50px;
  font-family: sans-serif;
  background-color: white;
  margin: 10%;
  border-radius: 25px;
}

.title {
  color: #474747;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  background-color: white;
}

.label {
  position: absolute;
  top: -8px;
  left: 12px;
  background-color: white;
  padding: 0 4px;
  font-size: 12px;
  color: #888;
}

.input-field {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #e0c8d1;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  color: #333;
  background-color: transparent;
}

.input-field:focus {
  border-color: #da6736;
}

.input-field::placeholder {
  color: #b3b3b3;
}

.register-form {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
}

.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.switch-container {
  padding: 20px;
}

.switch-button {
  background: none;
  border: none;
  color: #545454;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
  text-decoration: none;
}

.logged-in-view {
  text-align: center;
}

.logout-button {
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}
